*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  /* font-weight: 400; */
}
body{
  background-image: url("./images/extinquisher.jpg");
  background-size: cover;
  height: 100%;
  animation: animate 5s ease infinite;
}

.App{
  width: 700px;
  height: 586px;
  max-height: 586px;
  margin: 0 auto;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: flex-start; 
  align-items: center;
  border: 0px solid #333;
  box-shadow: 0px 0px 15px gray;  
} 

.main-container{
  width: 100%;
  flex-grow: 1;
  overflow-y: auto;
}

.app-container{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  background-color: aqua; 
  opacity: .6;
  width: 100%;
  box-shadow: 0px 2px 4px gray; 
}

nav{
  display: flex;
  justify-content: space-between;
  padding-right: 20px;
  height: 100px;
  align-items: center;
}

nav > ul  {
  font-weight: 600;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  text-decoration: none;
 }

 .login-page{
  margin-top: 10rem;
  background-image: url("./images/house.jpg");
  background-size: cover;
  height: 100%;
  width: 700px;
  height: 586px;
  max-height: 586px;
  margin: 0 auto;
  position: relative;
  border: 0px solid #333;
  box-shadow: 0px 0px 15px gray; 
 }

 .login-page nav{ 
  background-color: aqua; 
 }
 .login-page h5{ 
  font-size: xx-small;
  color: black;
  font-style: unset;
 }


 .login-page h2{
  font-size: medium;
  font-weight: bolder;
  box-shadow: inset;
  border-radius: 2px;
 }
 
.home-container{ 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.input-container{
  position: absolute;
  background: transparent;
}

.home-container Input{
    padding: 20px;
    width: 300px;
    background: transparent;
    border: none;
    border-bottom: 1px solid black;
    font-size: 18px;
    margin-bottom: 16px;
    color: black;
    outline: none;
}
a{
  text-decoration: none !important;
}

.home-container Input::placeholder {
  color: black;
}
.input-container h2{
  width: 30%;
  margin: 0 auto;
  font-size: 2rem;
  color: #333;
  text-transform: uppercase;
  font-style: italic;
}

.bnt-btn{
  background: #090580;
  cursor: pointer;
}
.header h1{
  letter-spacing: 25px;
  font-weight: 900;
  color: #333;
  opacity: 3;
  font-style: italic;
  margin-left: 8px;
}
.footer-container{
  height: 14vh;
  background-color: aqua;
  color: #134a81;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: .8;
}

.personnel-container{
  margin: 0 auto;
  height: 387px;
  color: black;
}

.personnel-container form{
  padding: 10px 10px;
  width: 100%;
}

.personnel-container h1{
  text-align: center;
  font-size: 4rem;
  text-transform: uppercase;
}

.personnel-container form Input, select{
  width: 100%;
  text-transform: capitalize;
  padding: 10px;
  outline: none;
  border-radius: 5px;
  color: #333;
  text-transform: capitalize;
}
.personnel-container form Button{
  width: 97%;
  padding: 10px 0px;
  border-radius: 3px;
  background: #a0a0a7;
  margin-left: 10px !important;
  margin-top: 15px !important;
}

.service{
  width: 100%;
  height: 100vh;
  padding: 0;
}

tr{ 
  background: gray;
}
.btn{
  width: 30%;
  margin: 0 auto;
  margin-top: 20px;
  border-radius: 5px;
  cursor: pointer;
}
.select-container {
  width: 100%;
  margin: 0 auto;
  padding: 10px;
  color: #333;
  text-transform: capitalize;
}


body {
  background-color: var(--bg-secondary);
  color: var(--text-primary);
  font-family: "Nunito Sans", sans-serif;
  font-size: 14px !important;
  overflow-x: hidden;
}

.country-card {
  background-color: var(--bg-primary);
  background-color: lightslategrey;
  border-radius: 6px;
  box-shadow: var(--shadow);
  margin: 2.5rem var(--card-column-margin);
  overflow: hidden;
  width: 90%;
  display: flex;
  flex-direction: row;
 
}
.country-card .card-header {
  width: 70%;
  height: 100%;
  overflow: hidden;
  margin-bottom: 0.7rem;
  display: flex;
  justify-items: flex-start;

}
.card-header .flag {
 padding: 20px;
  width: 100%;
  height: 100%;
  
}
.card-body {
  padding: 1rem 1.5rem;
  overflow-x: auto;
}
.card-body h2 {
  font-size: 1.2rem;
  margin-bottom: 0.7rem;
}

.card-body ul {
  margin-bottom: 1.5rem;
}
.card-body li {
  display: flex;
  margin-bottom: 5px;
  font-size: 1rem;
}

.card-body li strong {
  font-weight: 600;
  margin-right: 5px;
}

ul li a{
  text-decoration: none;
}

.personnel{
  text-decoration: none;
  background: #090580;
  padding: 10px;
  color: white;
  border-radius: 5px;
  
}
.btnDownload {
  background-color: dodgerblue;
  border: none;
  color: white;
  padding: 12px 30px;
  cursor: pointer;
  font-size: 20px;
}

.personnelLeave{
  padding: 0px 15px;
  position: relative;
}

.personnelLeave Input{
   width: 100%;
   padding: 5px;
   border-radius: 5px;
   color: black;
   outline: none;
   text-transform: capitalize;
}
.personnelLeave button{
  padding: 7px;
  border-radius: 5px;
  background-color: #a0a0a7;
  margin-top: 5px;
}

.personnelLeave .leaveBtn{
  display: flex;
  flex-direction: column;
}

.personnelLeave h1{
  text-align: center;
  color: #333;
  font-size: small;
}
.personnelLeave label{
  font-size: small;
}
.errorMessage{
  color: red;
  
}

.trHead, .bgDodgerblue{
  background-color: dodgerblue;
}
.trHead{
  height: 8vh;
}
.modal-container{
  width: 800px !important;
  background-color: bisque;
}

.errMessage{
  font-size: 10px;
  color: #f38585;
}

.logout{
  color: rgb(13 110 253);
}

.table-div{
  width: 70vw;
}